


<md-sidenav-container class="example-container">
<md-toolbar color="primary">
	<div class="example-sidenav-content">
		<button md-button (click)="sidenav.open()">
			<img src="assets/view-sequential.png" alt="" />
		</button>
	</div>
	
</md-toolbar>
	<md-sidenav #sidenav class="example-sidenav">
	<button md-button uiSref="hello">Hello</button><br><hr>
	<button md-button uiSref="about">About</button><br><hr>
	<button md-button uiSref="comic">Comic</button><br><hr>
</md-sidenav>
<md-toolbar color="primary">
</md-toolbar>

<div class="main">
<ui-view></ui-view>
</div>

</md-sidenav-container>
